<div class="error-wrapper about-main">
 <div class="error-container" style="height: 612px; left: 50%; background-image: none;" >
  
  <div class="error-main">
    <div class="error-number">
        <img src="/assets/logo-white.png" />
    </div>
    <div class="span4 error-container error-description" style="color: white;">
        Made proudly at Startup Weekend Ogden
        <hr>
        @jeremyhei &nbsp; @parkerboyack &nbsp; @film42
    </div>
 
  </div>
  <div id="push"></div>
</div>
<div id="footer">
  <div class="span12 error-container about-copy">
    <div class="copyright">
      Copyright 2013, Crypto Trader
    </div>
  </div>
</div>