/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ../others/plugins/pace/pace-theme-flash.css
 *= require ../others/plugins/bootstrap/css/bootstrap.min.css
 *= require ../others/plugins/bootstrap/css/bootstrap-responsive.min.css
 *= require ../others/plugins/font-awesome/css/font-awesome.css
 *= require_tree ../others/plugins/jquery-ricksaw-chart/css
 *= require_tree .
 */

.tile-more-content .wallet-list {
  border-right:  1px solid #eee;
}

.currency-snapshot {
  opacity: 0.8;
}

.page-sidebar {
  position: absolute !important;
}

.balance-frame {
  font-size: 14px;
  margin-left: 10px;
}
.balance-total {
  font-size: 14px;
}

.flash-body {
    background-color: #e5e9ec;
}
.flash-message {
    border-bottom: 25px solid #e5e9ec;
    color: #ffffff;
    background-color: #fff;
}
.error-flash {
    background-color: #e74c3c;
}
.notice-flash {
    background-color: #1abc9c;
}
.flash-message p {
    padding: 20px 20px 15px 20px;
}
